body {
    background-color: #fafafa;
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-size: 40px;
    margin: 10px 0;
}

h3 {
    font-weight: 700;
    text-align: left;
    font-size: 24px;
}

h4 {
    font-weight: 500;
    font-size: 1.1rem;
    color: gray;
    line-height: 2;
}

p {
    text-align: left;
    font-size: 14px;
    color: gray;
    line-height: 2;
    font-weight: 500;
    max-width: 250px;
}

.thick {
    font-weight: 700;
}

.thin {
    font-weight: 300;
}

.titleContainer {
    text-align: center;
    padding: 5% 0 2%;
    max-width: 40%;
    margin: auto auto;
}

.mainContainer {
    display: block;
    text-align: center;
    padding: 0 auto;
}

.row {
    display: inline-block;
    margin: 0 10px;
}

.side {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card {
    width: 300px;
    height: 250px;
    background-color: #fff;
    padding: 10px 20px;
    display: table-caption;
    filter: drop-shadow(0 10px 5px #dce4ef);

}


.midCard {
    margin: 20px auto;
}

.icon {
    display: block;
    margin: 20px auto auto 220px;    
}

.bot {
    display: block;
    margin-bottom: 100px;
    box-shadow: 0 -3px 0 0 #f6da3c;
}

.top {
    box-shadow: 0 -3px 0 0 red;
}

.left {
    box-shadow: 0 -3px 0 0 #45acab;
}

.right {
    box-shadow: 0 -3px 0 0 #4880af;
}